.left {
	background-color: #283643;
	width: 12rem;
	position: fixed;
	top:3.5rem;
	bottom: 0px;
	margin-bottom: 0px;
}
.left ul li a{
	padding: 0px 2rem;
	height: 3rem;
	text-align: center;
	line-height: 3rem;
	}
.left ul li:hover{
	background-color: #3c4248;
}
.z{
	position: fixed;
	top: 3.5rem;
	bottom: 0px;
	left: 12rem;
	right: 0px;
}
h6{
	height: 3rem;
	line-height: 3rem;
	color: #6C757D;
	border-bottom: 2px solid #E9ECEF;
}